.productsPage-container{
    margin-top: 130px;
    width: 100%;
}

.productsPage-container .productsPage-wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.productsPage-container .productsPage-wrapper .productPage-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80lvh;

    img{
        width: 500px;
        aspect-ratio: 1.1;
        object-fit: contain;
    }
}

.productsPage-container .productsPage-wrapper .product-details{
    width: 50%;
    height: 80lvh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
        font-weight: 500;
        color: #444;
        margin-bottom: 2px;
        font-size: 1.65rem;
        text-transform: capitalize;
    }

    .price{
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 30px;
        color: #444;
    }

    .pDis{
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        color: #444;
        font-weight: 500;
    }

    .TextPDis{
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 20px;
        line-height: 23px;
        width: 400px;
    }

    .selectors{
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        .selector{
            display: flex;
             flex-direction: column;
             gap: 10px;

             label{
                color: #444;
                font-weight: 300;
             }

             select{
                height: 50px;
                width: 400px;
                border-radius: 10px;
                border: 1px solid #ccc;
                outline: none;
             }
        }
    }

    .add-to-cart{
        height: 50px;
        width: 400px;
        margin-top: 30px;
        border-radius: 10px;
        border: none;
        text-transform: capitalize;
        cursor: pointer;
        color: #fff;
        background: #148114;
    }

    .add-to-cart:hover{
        opacity: 0.9;
    }
}



/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .productsPage-container{
        margin-top: 130px;
        width: 100%;
    }
    
    .productsPage-container .productsPage-wrapper{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .productsPage-container .productsPage-wrapper .productPage-image{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80lvh;
    
        img{
            width: 500px;
            aspect-ratio: 1.1;
            object-fit: contain;
        }
    }
    
    .productsPage-container .productsPage-wrapper .product-details{
        width: 40%;
        height: 80lvh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        h2{
            font-weight: 500;
            color: #444;
            margin-bottom: 2px;
            font-size: 1.65rem;
            text-transform: capitalize;
            width: 250px;
        }
    
        .price{
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 30px;
            color: #444;
        }
    
        .pDis{
            font-size: 1rem;
            cursor: pointer;
            text-transform: capitalize;
            color: #444;
            font-weight: 500;
        }
    
        .TextPDis{
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 20px;
            width: 250px;
            line-height: 23px;
        }
    
        .selectors{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
    
            .selector{
                display: flex;
                 flex-direction: column;
                 gap: 10px;
    
                 label{
                    color: #444;
                    font-weight: 300;
                 }
    
                 select{
                    height: 50px;
                    width: 250px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    outline: none;
                 }
            }
        }
    
        .add-to-cart{
            height: 50px;
            width: 250px;
            margin-top: 30px;
            border-radius: 10px;
            border: none;
            text-transform: capitalize;
            cursor: pointer;
            color: #fff;
            background: #148114;
        }
    
        .add-to-cart:hover{
            opacity: 0.9;
        }
    }
    
}



/* Mobile devices */
@media (max-width: 767px) {
    .productsPage-container .productsPage-wrapper{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .productsPage-container .productsPage-wrapper .productPage-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .productsPage-container .productsPage-wrapper .product-details{
        width: 100%;
        padding: 15px;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 30px;

        h2{
            width: 90%;
            text-align: left;
        }

        .price{
            text-align: left;
            width: 90%;
        }

        .pDis{
            width: 90%;
        }

        .TextPDis{
            width: 90%;
        }

        .selectors {
            width: 90%;

            .selector select{
                width: 100%;
            }
        }

        .add-to-cart{
            width: 90%;
        }
    }
}

.Add-minus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    button{
        width: 40px;
        height: 40px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }

    input{
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1rem;
        border: none;
        font-weight: 300;
    }
}