.DashboardDisplayOrderWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.TAWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.SalesChart {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}