.HeaderWrapper {
    width: 100%;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    transition: all 0.2s ease-in-out;
    z-index: 1000;
    height: 100px;
}

.HeaderWrapper.hideElements img,
.HeaderWrapper.hideElements .SearchAuthContainer > .a,
.HeaderWrapper.hideElements .SearchAuthContainer > .CartContainer {
    display: none;
}

.HeaderWrapper > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.HeaderWrapper .SearchAuthContainer {
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}

.HeaderWrapper .SearchAuthContainer.active {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderWrapper .SearchAuthContainer.active .inputContainer {
    width: 100%;
    max-width: 800px;
    background: #c8f7c5;
    transition: all 0.3s ease-in-out;
}

.HeaderWrapper .SearchAuthContainer.active input {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.HeaderWrapper .SearchAuthContainer .inputContainer {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    background: #f0f0f0;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.HeaderWrapper .SearchAuthContainer .inputContainer input {
    all: unset;
    width: 85%;
    font-weight: 300;
    font-size: 1rem;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.HeaderWrapper .SearchAuthContainer > .a {
    color: #333;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
}

.HeaderWrapper .SearchAuthContainer > .a:hover {
    color: green;
}

.HeaderWrapper .SearchAuthContainer > .CartContainer {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
}

.HeaderWrapper .SearchAuthContainer > .CartContainer:hover {
    background: #defade;
}

.HeaderWrapper .SearchAuthContainer > .CartContainer span {
    position: absolute;
    top: 80px;
    background: #fff;
    padding: 2px 10px;
    border-radius: 3px;
    letter-spacing: 0.1rem;
    font-weight: 300;
    display: none;
    transition: display 0.3s ease;
}

.HeaderWrapper .SearchAuthContainer > .CartContainer:hover span {
    display: block;
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Add tablet-specific styles here */
}

/* Mobile devices */
@media (max-width: 767px) {
    .HeaderWrapper {
        padding: 0 2%;
    }

    .HeaderWrapper .SearchAuthContainer .inputContainer {
        width: 50px;
        background-color: transparent;
    }

    .HeaderWrapper .SearchAuthContainer .inputContainer input {
        display: none;
    }

    .HeaderWrapper .SearchAuthContainer .inputContainer.active {
        width: 100%;
        background: #c8f7c5;
        margin-top: 25px;
    }

    .HeaderWrapper .SearchAuthContainer .inputContainer.active input {
        display: block;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: #333;
    }
}