.AdminHeaderWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 70px;
    padding: 0 20px;
    z-index: 1000;
}

.AdminHeaderWrapper .logo{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.AdminHeaderWrapper .inputContainer{
    display: flex;
    align-items: center;
    background: #f0f0f0;
    width: 500px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 0 10px 0 20px;
    gap: 10px;

    input{
        all: unset;
        width: 90%;
        height: 100%;
        font-weight: 300;
    }
}

.AdminHeaderWrapper .textIconModel{
    display: flex;
    gap: 20px;
}

.AdminHeaderWrapper .textIconModel .ModelClick{
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #333;
        right: 0px;
        bottom: 10px;
        border-radius: 50%;
    }
}

.AdminHeaderWrapper .UserData{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #e0f1fc;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;

    img{
        width: 30px;
        aspect-ratio: 1.1;
        object-fit: contain;
        background: #fff;
        border-radius: 50%;
    }

    p{
        font-weight: 300;
        font-size: 0.9rem;
        color: #333;
    }

    span{
        font-size: 0.8rem;
        font-weight: 300;
    }
}